/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; font-family: sans-serif }
img { width: 100%; height: auto; display: block }
* { margin:0; padding:0; box-sizing: border-box }
body { font-family: 'Roboto', sans-serif }


/* =================================== OUTER FLEXBOX CONTAINERS ============================= */

.container-flexbox { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktop - inside padding  */
@media all and (min-width:768px) {
	.container-flexbox { padding: 2% 10% 1% 10% }
}

/* Mobiles - inside padding */
@media all and (max-width:767px) {
	.container-flexbox { padding: 7% 8% 1% 8% }
}

.bg-light-gray { background-color: #f5f5f5 }
.bg-green      { background-color: #5ba745 }



/* ================ INNER FLEXBOX ITEM COLUMNS: 1 ITEM COLUMN EVERY SCREEN ============== */

.container-flexbox .item-1 { 
	width: 100%;
	padding: 1% 6% 0 6%;
}


/* ================ INNER FLEXBOX ITEM COLUMNS: 2 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ============== */

/* Desktops - 2 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-2 { 
		width: 45%;
		padding: 3% 0 4% 0;
	}
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-2 { 
		width: 100%;
		padding: 10% 10% 10% 10%;
		margin-bottom: 14%
	}
}

.container-flexbox .item-3 { 
	box-shadow: rgba(160,160,160,0.8) 5px 5px 20px;
	border-radius: 12px
}

/* ================ INNER FLEXBOX ITEM COLUMNS: 3 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ============== */

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-3 { 
		width: 30%;
		padding: 3% 3% 3% 3%;
		margin-bottom: 7%
	}
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-3 { 
		width: 100%;
		padding: 10% 10% 10% 10%;
		margin-bottom: 14%
	}
}

.container-flexbox .item-3 { 
	box-shadow: rgba(160,160,160,0.8) 5px 5px 20px;
	border-radius: 12px
}


/* ================ HEADINGS, PARAGRAPHS, IMAGES ============== */

.container-flexbox .item-1 h2 { 
	font-weight: 900; 
	color: #5ba745;
	line-height: 1.2;
	margin-bottom: 12px;
	letter-spacing: -1px;
	text-align: center;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-1 p { 
	font-weight: 400; 
	line-height: 1.6;
	letter-spacing: 1px;
	text-align: center;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
	color: #000
}

.container-flexbox .item-2 h1 { 
	font-weight: 900; 
	color: #000;
	line-height: 1.1;
	margin-bottom: 12px;
	letter-spacing: -1px;
	text-align: left;
	margin-bottom: 20px;
	font-size: calc(30px + (72 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-2 p { 
	font-weight: 500; 
	color: darkgray;
	line-height: 1.3;
	text-align: left;
	margin-bottom: 20px;
	font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1600 - 320))); 
}


.container-flexbox .item-3 h3 { 
	font-weight: 500; 
	color: #000;
	line-height: 1.2;
	margin-bottom: 2px;
	font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-3 p { 
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.5;
	margin-bottom: 14px;
	color: rgb(82, 95, 127);
}

.container-flexbox.bg-green p.big-text {
	font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1600 - 320))); 
	margin-bottom:20px;
	font-weight: 500;
}

/* Desktops - Left Align */
@media all and (min-width:768px) { 
	.container-flexbox .item-3 h3, 
	.container-flexbox .item-3 p { 
		text-align: left
	}
}

/* Mobiles - Center Align */
@media all and (max-width:767px) { 
	.container-flexbox .item-3 h3, 
	.container-flexbox .item-3 p { 
		text-align: center
	}
}



.container-flexbox img { 
	margin-bottom: 12px;
	border-radius: 5px;
}

.container-flexbox.bg-green p.big-text,
.container-flexbox.bg-green p.big-text a {
	color: #fff
}

.container-flexbox.happy-users .item-3 p {
	text-align: center;
}

.container-flexbox.happy-users .item-3 img {
	border-radius: 100%;
	width: 80%;
	margin: 0 auto 12px auto
}
