/* ==== BROWSER RESETS  ==== */
* { padding: 0; 
    margin: 0; 
    border: 0; 
    font-weight: normal; 
    font-size: 16px
}

/* ==== BODY SPACING  ==== */

body {
    padding-left:20%;
    padding-right:20%;
}


/* ==== HEADINGS  ==== */

h1 {
    font-family: serif;
    font-size:64px;
    font-weight:bold;
    line-height:1.3;
    letter-spacing:-1px;
    margin-top:20px;
    margin-bottom:32px;
}

h2 {
    font-family: serif;
    font-size:38px;
    font-weight:bold;
    line-height:1.3;
    margin-top:40px;
    margin-bottom:12px;
}

h3 {
    font-family: serif;
    font-size:24px;
    font-weight:bold;
    line-height:1.3;
    margin-top:32px;
    margin-bottom:6px;
}

/* ==== PARAGRAPHS ==== */
p {
    font-family: sans-serif;
    font-size:16px;
    font-weight:normal;
    line-height:1.6;
    margin-bottom:12px;
}