/* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; font-weight: normal; font-size: 16px }
body, html { height: 100% }	
html { box-sizing: border-box; scroll-behavior: smooth }
body { max-width: 1600px; margin: 0 auto }
img { display: block; width: 100%; height: auto }

/* ==== PAGE WIDTH ==== */

/* Mobiles */
@media all and (max-width:767px) {
    body {
       padding-left: 5%;
       padding-right: 5%
    }
}

/* Desktop */
@media all and (min-width:768px) {
    body {
       padding-left: 20%;
       padding-right: 20%
    }
}


/* ==== HEADINGS ==== */

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: calc(42px + (64 - 42) * ((100vw - 320px)/(1600 - 320)));
	letter-spacing: -1px;
}

/* Mobiles */
@media all and (max-width:767px) {
    h1 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 6%;
   }
}

/* Desktop */
@media all and (min-width:768px) {
    h1 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 10%;
   }
}
 
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: calc(32px + (48 - 32) * ((100vw - 320px)/(1600 - 320)));
}
 
 
/* Mobiles */
@media all and (max-width:767px) {
    h2 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 3%;
    }
}
 
/* Desktop */
@media all and (min-width:768px) {
    h2 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 2%;
    }
} 
 
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 28px;
}
 
 
/* Mobiles */
@media all and (max-width:767px) {
    h3 {
       font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
       margin-top: 6%;
       margin-bottom: 1%;
    }
}
 
/* Desktop */
@media all and (min-width:768px) {
    h3 {
       line-height: 1.3;
       margin-top: 5%;
       margin-bottom: 1%;
    }
}

/* ==== PARAGRAPHS ==== */

p {
   font-family: 'Lato', sans-serif;
   font-weight: normal;
   font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}


/* Mobiles */
@media all and (max-width:767px) {
   p {
      line-height: 1.5;
      margin-bottom: 5%;
   }
}

/* Desktop */
@media all and (min-width:768px) {
   p {
      line-height: 1.6;
      margin-bottom: 2%;
   }
}
 
/* ==== BULLETS ==== */

ul li, ol li {
   font-family: 'Lato', sans-serif;
   font-weight: normal;
   font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

/* Mobiles */
@media all and (max-width:767px) {
   ul, ol { margin-left: 5% }
   ul li, ol li {
      line-height: 1.5;
      margin-bottom: 5%;
   }
}
 
/* Desktop */
@media all and (min-width:768px) {
   ul, ol { margin-left: 3% }
   ul li, ol li {
      line-height: 1.6;
      margin-bottom: 2%;
   }
}

/* ==== HYPERLINKS ==== */

a.fancy-link:link,
a.fancy-link:visited,
a.fancy-link:hover,
a.fancy-link:active { 
    text-decoration: none;
    color: inherit;
    border-bottom-style: solid;
    border-bottom-width:2px;
    padding-bottom: 2px;
}

a.fancy-link:link,
a.fancy-link:visited { border-bottom-color: blue}

a.fancy-link:hover,
a.fancy-link:active { color: red; border-bottom-color: red }

a.btn:link, .btn:visited, a.btn:hover, a.btn:active { 
   text-decoration: none;
   color: inherit;
   border-style: solid;
   border-width:2px;
   padding: 12px 24px;
   display: inline-block;
   margin: 20px 40px 20px 0;
   text-transform: uppercase;
   font-weight: bold;
   font-family: sans-serif;
   letter-spacing: 1px;
   line-height:1
}

a.btn-solid:link, .btn-solid:visited {
   border-color: blue;
   background-color: blue;
   color: #fff
} 

a.btn-solid:hover, .btn-solid:active {
   border-color: green;
   background-color: green;
   color: #fff
}

a.btn-ghost:link, .btn-ghost:visited {
   border-color: blue;
   background-color: transparent;
   color: blue
} 

a.btn-ghost:hover, .btn-ghost:active {
   border-color: green;
   background-color: transparent;
   color: green
}

a.btn-soft { border-radius: 5px }
a.btn-round { border-radius: 25px }

/* ==== TEXT BOXES ==== */

.important-note-1 { 
   margin: 42px 0 42px 0;
   padding: 14px 14px 14px 14px;
   border-style: solid;
   border-width: 1px;
   border-color: #1FA441;
   background-color:#E4F5E8; 
}

.important-note-1 h3 { margin-top: 0; color: #1FA441 }
.important-note-1 p { margin-bottom: 0; color: #000  }

.important-note-2 { 
   margin: 42px 0 42px 0;
   padding: 14px 0 14px 0;
   border-style: solid;
   border-top-width: 8px;
   border-bottom-width: 4px;
   border-top-color:#044E6C;
   border-bottom-color:#044E6C;
   border-left-width: 0;
   border-right-width: 0
}

.important-note-2 h3 { margin-top: 0; color: #044E6C; }

.important-note-2 p { margin-bottom: 0; color: #044E6C;  }

.important-note-3 { 
   margin: 42px 0 42px 0;
   padding: 14px 14px 14px 14px;
   border-style: solid;
   border-top-width: 0;
   border-bottom-width: 0;
   border-left-width: 20px;
   border-left-color: #E66465;
   border-right-width: 0;
   background-color: #FFE7E8
}

.important-note-3 h3 { margin-top: 0; }

.important-note-3 p { margin-bottom: 0  }

.important-note-4 { 
   margin: 42px 0 42px 0;
   padding: 14px 14px 20px 14px;
   border-style: solid;
   border-width: 3px;
   border-radius: 10px;
   border-color:#2c4763;
   background-color:#1f364d;
}

.important-note-4 h3 { margin-top: 0;color: #9cb3c9 }

.important-note-4 p { margin-bottom: 0;color:#fff  }

