/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; font-family: sans-serif }
img { width: 100%; height: auto; display: block }
* { margin:0; padding:0; box-sizing: border-box }
body { font-family: 'Roboto', sans-serif }


/* ============ PARENT FLEXBOX CONTAINERS ========== */

.container-flexbox { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktops only - inside padding  */
@media all and (min-width:768px) {
	.container-flexbox { padding: 2% 10% 1% 10% }
}

/* Mobiles only - inside padding */
@media all and (max-width:767px) {
	.container-flexbox { padding: 7% 8% 1% 8% }
}

/* Background colors */
.container-flexbox.bg-light-gray { background-color: #f5f5f5 }
.container-flexbox.bg-green      { background-color: #5ba745 }


/* ============= FLEXBOX ITEM COLUMNS: 1 ITEM COLUMN EVERY SCREEN ========== */

.container-flexbox .item-1 { 
	width: 100%;
	padding: 1% 6% 0 6%;
}

/* ====== FLEXBOX ITEM COLUMNS: 2 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ====== */

/* Desktops - 2 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-2 { 
		width: 45%;
		padding: 3% 0 4% 0;
	}
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-2 {
		text-align: center; 
		width: 100%;
		padding: 10% 10% 10% 10%;
	}

	.container-flexbox .item-2:nth-child(1) { order: 2 }
	.container-flexbox .item-2:nth-child(2) { order: 1 }
}

/* ======= FLEXBOX ITEM COLUMNS: 3 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ===== */

.container-flexbox .item-3 { 
	background-color: #fff;
	box-shadow: rgba(160,160,160,0.8) 5px 5px 20px;
	border-radius: 12px 
}

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-3 { 
		width: 30%;
		text-align: left;
		padding: 3% 3% 3% 3%;
		margin-bottom: 7%
	}
	.container-flexbox .item-3.smaller-margin-bottom { 
		margin-bottom: 2%
	}
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-3 { 
		width: 100%;
		text-align: center;
		padding: 10% 10% 10% 10%;
		margin-bottom: 14%
	}
}

.container-flexbox .item-3 img { 
	margin-bottom: 20px;
	border-radius: 5px
}

.container-flexbox.happy-users .item-3 {
	text-align: center;
	margin-top: 3%;
	padding-bottom:2%
}

.container-flexbox.happy-users .item-3 img {
	margin-left: auto;
	margin-right: auto;
	width: 80%; 
	border-radius: 100%
}

/* ========== HEADINGS, PARAGRAPHS, IMAGES ======== */

/* Single column item-1 */
.container-flexbox .item-1 h2 { 
	font-weight: 900; 
	color: #5ba745;
	line-height: 1.2;
	margin-bottom: 12px;
	letter-spacing: -1px;
	text-align: center;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-1 p { 
	font-weight: 400; 
	line-height: 2;
	letter-spacing: 1px;
	text-align: center;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
	color: #000
}

.container-flexbox.bg-green .item-1 p.big-text {
	font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1600 - 320))); 
	margin-bottom:20px;
	font-weight: 500;
}

.container-flexbox.bg-green .item-1 p.big-text,
.container-flexbox.bg-green .item-1 p.big-text a {
	color: #fff;
}

.container-flexbox.bg-green .item-1 p.big-text a {
	text-decoration: none;
	color: #fff;
	border-bottom: solid 2px #fff;
	padding-bottom:3px;
}

.container-flexbox.bg-green .item-1 p.big-text a:hover,
.container-flexbox.bg-green .item-1 p.big-text a:active {
	text-decoration: none;
	color: #fff;
	border-bottom: solid 2px #5ba745;
	padding-bottom:3p;
}

@media all and (max-width:767px) { 
	.container-flexbox.bg-green .item-1 img { 
		margin-bottom: 24px
	}
}


/* Two columns item-2 */

.container-flexbox .item-2 h1 { 
	font-weight: 900; 
	color: #000;
	line-height: 1.1;
	margin-bottom: 12px;
	letter-spacing: -1px;
	margin-bottom: 20px;
	font-size: calc(30px + (72 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-2 p { 
	font-weight: 500; 
	color: gray;
	line-height: 1.3;
	font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1600 - 320))); 
}

/* Three columns item-3 */

.container-flexbox .item-3 h3 { 
	font-weight: 500; 
	color: #000;
	line-height: 1.2;
	margin-bottom: 2px;
	font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-3 p { 
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.5;
	margin-bottom: 14px;
	color: rgb(82, 95, 127);
}

.slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ----------------------------------------------
*/

.scale-up-center {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}
  
/* == Begin footer CSS == */

/* Outer footer parent container */
.container-footer { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color:#5ba745
}

/* Desktop footer - inside padding  */
@media all and (min-width:768px) {
	.container-footer { padding: 3% 8% 3% 8% }
}

/* Mobiles footer - inside padding */
@media all and (max-width:767px) {
	.container-footer { padding: 12% 8% 1% 8% }
}

/* Inner footer columns */

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
   .container-footer .item-3:nth-child(1) { width: 20% }
   .container-footer .item-3:nth-child(2) { 
      width: 50%;
      /* text-align: center */
   }
   .container-footer .item-3:nth-child(3) { 
      width: 20%;
   }
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-footer .item-3 { 
      width: 100%;
      margin-bottom: 10%
   }
   .container-footer .item-3:nth-child(2) { order: 1 }
   .container-footer .item-3:nth-child(1) { order: 2 }
   .container-footer .item-3:nth-child(3) { order: 3 } 
}

/* Styles for footer background, text, icons and links */

.container-footer .item-3 h4,
.container-footer .item-3 p,
.container-footer .item-3 p i,
.container-footer .item-3 p a {
   color: #fff
}

.container-footer .item-3 h4 {
   font-weight: bold;
   /* text-transform: uppercase */
   margin-bottom: 12px;
   font-size: calc(17px + (19 - 17) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer .item-3 p {
	font-weight: normal;
	margin-bottom: 12px;
	font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.6
}

.container-footer .item-3 i { 
   padding-right: 26px;
} 

.container-footer .item-3 p a {
   text-decoration: none;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   padding-bottom:2px;
}

.container-footer .item-3 p a:link, 
.container-footer .item-3 p a:visited  {
   border-bottom-color: transparent;
}

.container-footer .item-3 p a:hover, 
.container-footer .item-3 p a:active  {
   border-bottom-color: #fff
}

/* == End footer CSS == */