/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; font-family: sans-serif }
img { width: 100%; height: auto; display: block }

/* =========== STYLES FOR HERO CONTAINER AT TOP OF WEB PAGE ========== */

.container-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../img/smoothie-hero-image.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container-hero h1, 
.container-hero h2 {
	font-family: 'Neucha', sans-serif;
	color: #fff;
	text-shadow: 2px 2px #222;
	text-align: center;	
}

.container-hero h1 {
	font-size: calc(58px + (132 - 58) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.1
}

.container-hero h2 {
	font-size: calc(26px + (64 - 26) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.3	
}

/* Desktops - container height and h1 bottom margin */
@media all and (min-width:768px) { 
	.container-hero { height: 520px }
	.container-hero h1 { margin-bottom: 1% }
}

/* Mobiles - container height, text width and h1 bottom margin */
@media all and (max-width:767px) { 
	.container-hero { height: 360px }
	.container-hero h1 { 
		margin-bottom: 5%
	}
	.container-hero h2 { 
		width: 90%;
		margin: 0 auto 5% auto
	}
}


/* ================================== PARENT FLEXBOX CONTAINER ============================= */

.container-flexbox { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktop only - inside padding  */
@media all and (min-width:768px) {
	.container-flexbox { padding: 4% 13% 3% 13% }
}

/* Mobiles only - inside padding */
@media all and (max-width:767px) {
	.container-flexbox { padding: 10% 8% 8% 8% }
}

/* Background colors */
.container-flexbox.bg-watermelon { background-color: #FBBDD9 }
.container-flexbox.bg-apple      { background-color: #B7F3D9 }
.container-flexbox.bg-blueberry  { background-color: #8C6BBE }
.container-flexbox.bg-lemon      { background-color: #F1F1BC }



/* ====================== FLEXBOX CHILD COLUMN: 1 COLUMN EVERY SCREEN ( .item-1 ) =================== */

/* All screen sizes, always 100% wide */
.container-flexbox .item-1 { 
	width: 100%;
}

/* For mobile screens only, extra padding at bottom of column */
@media all and (max-width:767px) {
	.container-flexbox .item-1 { 
		padding-bottom: 2%;
	}
}

/* ================ FLEXBOX CHILD COLUMN: 2 COLUMNS DESKTOP, 1 COLUMN MOBILE ( .item-2 ) ============== */

/* Desktop */
@media all and (min-width:768px) {
	.container-flexbox .item-2 { 
		width: 47%
	}
}

/* Mobiles */
@media all and (max-width:767px) { 
	/* Two columns ( .item-2 ) change to one wide column */
	.container-flexbox .item-2 { 
		width: 100%
	}

	/* Re-order columns inside first and third outer flexbox parent containers */
	.container-flexbox.bg-watermelon .item-2:nth-child(1) { order: 2 }
	.container-flexbox.bg-watermelon .item-2:nth-child(2) { order: 1 }
	.container-flexbox.bg-blueberry  .item-2:nth-child(1) { order: 2 }
	.container-flexbox.bg-blueberry  .item-2:nth-child(2) { order: 1 }
}



/* ================ HEADINGS, PARAGRAPHS AND IMAGES INSIDE COLUMNS ====================== */

/* Content inside .item-1 columns */
.container-flexbox .item-1 p { 
	font-family: 'Neucha', sans-serif;
	color: #733fc0;
	line-height: 1.6;
	text-align: center;
	font-size: calc(26px + (54 - 26) * ((100vw - 320px) / (1600 - 320))); 
}


/* Content inside .item-2 columns */
.container-flexbox .item-2 h2 { 
	font-family: 'Neucha', sans-serif;
	color: #d1274b;
	line-height: 1.2;
	margin-bottom: 4px;
	letter-spacing: 2px;
	font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-2 p { 
	font-family: 'Neucha', sans-serif;
	font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.6;
	margin-bottom: 14px;
	letter-spacing: 1px
}

/* For blueberry only, change colour of heading and paragraph to white */
.container-flexbox.bg-blueberry h2,
.container-flexbox.bg-blueberry p { 
	color: #fff;
}

/* For mobiles only, center align headings, paragraphs and images */
@media all and (max-width:767px) { 
	.container-flexbox .item-2 h2,
	.container-flexbox .item-2 p { 
		text-align: center;
	}
	.container-flexbox .item-2 img { 
		margin: 0 auto 14px auto;
	}
}


/* == Email sign up form container == */

/* All screens */
.container-form-email-signup  { 
	text-align: center; 
	background-color: #fff; 
}

/* Desktop */
@media all and (min-width:1024px) { 
	.container-form-email-signup  {
		margin:  4% 23% 5% 23%;
		padding: 2% 4% 4% 4%
	}
}

/* Mobiles */
@media all and (max-width:1023px) { 
	.container-form-email-signup  { 
		margin:  6% 8% 4% 8%;
		padding: 7% 8% 8% 8%;
	}
}

/* == Email sign up form heading and text == */

/* Heading */
.container-form-email-signup h3 { 
	font-family: 'Neucha', sans-serif;
	font-weight: bold; 
	color: #733fc0;
	line-height: 1.2;
	margin-bottom: 3%;
	font-size: calc(32px + (84 - 32) * ((100vw - 320px) / (1600 - 320))); 
}

/* Text */
.container-form-email-signup p { 
	font-family: 'Neucha', sans-serif;
    font-weight: normal;
    color: #733fc0; 
	line-height: 1.5;
    margin-bottom: 7%;    
	font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1600 - 320))); 
}

/* == Email sign up form fields == */

#email-signup-form .flex-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktop */
@media all and (min-width:768px) { 
    #email-signup-form .flex-row { flex-direction: row }
    #email-signup-form #email-address { flex: 1; margin: 0 30px 0 30px }
}

/* Mobiles */
@media all and (max-width:767px) { 
	#email-signup-form .flex-row { flex-direction: column }
    #email-signup-form label { margin: 12px 0 0 0 }
    #email-signup-form #email-address { margin: 0 }
}

#email-signup-form label,
#email-signup-form input,
#email-signup-form #btn-submit {
	font-size: 16px;
    display: inline-block;
    border-radius: 5px;
}

#email-signup-form label { padding: 14px 0 }

#email-signup-form label,
#email-signup-form #btn-submit { font-weight: bold }

#email-signup-form input,
#email-signup-form #btn-submit { padding: 12px 20px }

#email-signup-form ::placeholder { font-size: 96% }

#email-signup-form input {
	background-color: #f0f0f0;
	padding: 10px 12px;
	border: 2px solid #d1274b;
}

#email-signup-form input:focus { 
	background-color: #fff; 
}

#email-signup-form #btn-submit {
	color:#fff;
    border: none; 
	padding: 12px 22px;    
	background-color: #d1274b;
	border-radius: 50px;
}

#email-signup-form #btn-submit:hover {
	background-color: #733fc0;
}

#email-signup-form #btn-submit i {
	margin-left: 8px
}

/* Mobiles */
@media all and (max-width:767px) { 
	#email-signup-form label { padding: 0 0 14px 0  }
	#email-signup-form input { margin: 0 0 24px 0 }
	#email-signup-form #btn-submit { margin: 30px auto 0 auto; width: 70% }
}



