/* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; box-sizing: border-box; font-weight: normal; font-size: 16px }
body, html { height: 100% }	
body { max-width: 1600px; margin: 0 auto }
img { display: block; width: 100%; height: auto }
html { scroll-behavior: smooth }

/* ==== FONT  ==== */
body { font-family: sans-serif }


/*===================== MOBILE LOGO WITH SLIDE-OUT NAVIGATION MENU  ======================= */

/* Hide on desktops  */
@media all and (min-width:768px) { 
	.container-menu-bar-mobile, .container-menu-options-mobile {
		display: none;
	}
}

@media all and (max-width:767px) { 

	.container-menu-bar-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 40px;
		z-index:99;
	}

	/* Logo */
	.container-menu-bar-mobile .item-logo img { 
		display: block; 
		margin-left: 10px;
		margin-top: 9px;
		margin-bottom: 9px 
	}

	/* Hamburger icon */
	.container-menu-bar-mobile .item-icon {
		text-align: right;
		margin-right: 16px;
		display: inline-block;
		cursor: pointer;
	}

	.container-menu-bar-mobile .item-icon .bar1, 
	.container-menu-bar-mobile .item-icon .bar2, 
	.container-menu-bar-mobile .item-icon .bar3 {
		width: 36px;
		height: 4px;
		margin: 7px 0;
		transition: 0.4s;
	}

	/* Hamburger icon chnages shape */
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 { opacity: 0 }

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}

	/* Mobile menu options */
	.container-menu-options-mobile { 
		position: fixed; 
		display: block; 
		top: 60px;
		height: 100%; 
		width: 320px;
		right: -320px;
		padding-top: 30px;
		transition: 0.5s;
		z-index:99;
	}

	.container-menu-options-mobile ul li { 
		list-style-type: none;
	    margin-left: 40px;
		margin-bottom: 30px;
		display: block;
		line-height: 1
	}

	.container-menu-options-mobile ul li a { 
		text-decoration: none;
		font-weight: normal;
		font-size:18px;
	}

	.container-menu-options-mobile ul li a:hover, .container-menu-options-mobile ul li a:active  { 
		text-decoration: underline;
	}

	/* Mobile menu option styled as button */
	.container-menu-options-mobile ul li a.btn-solid { 
		display: inline-block;
		padding: 12px 22px;
		border-width: 2px;
		border-style: solid;
	}

	.container-menu-options-mobile li a.btn-solid:hover, 
	.container-menu-options-mobile li a.btn-solid:active { 
		text-decoration: none;
	}

	/* Mobile menu option button corners */
	.container-menu-options-mobile li a.btn-soft { border-radius: 5px }
	.container-menu-options-mobile li a.btn-rounded { border-radius: 100px }


	/*== Dark mobile menu == */
	.menu-mobile-dark { background-color: #c60021 }

	.menu-mobile-dark .item-icon .bar1, 
	.menu-mobile-dark .item-icon .bar2, 
	.menu-mobile-dark .item-icon .bar3 {
		background-color: #fff;
	}

	.menu-mobile-dark li a { color: #fff }

	.menu-mobile-dark li a.btn-solid { 
		background-color: #FF3366; color:#fff;
		border-color: #FF3366
	}

	.menu-mobile-dark li a.btn-solid:hover, 
	.menu-mobile-dark li a.btn-solid:active { 
		background-color: #fff; border-color: #fff; color: #500294;
	}

	/*== Light mobile menu == */
	.menu-mobile-light { background-color: #e3e3e3 }

	.menu-mobile-light .item-icon .bar1, 
	.menu-mobile-light .item-icon .bar2, 
	.menu-mobile-light .item-icon .bar3 {
		background-color: #FF3366;
	}

	.menu-mobile-light li a { color: #c60021 }

	.menu-mobile-light li a.btn-solid { 
		background-color: #c60021; border-color: #c60021; color: #fff;
	}

	.menu-mobile-light li a.btn-solid:hover, 
	.menu-mobile-light li a.btn-solid:active { 
		background-color: #fff; border-color: #c60021;  color: #c60021;
	}

	.menu-mobile-light li a.btn-solid i { margin-right: 12px }

	/*== Transparent mobile menu == */
	.menu-mobile-transparent { background-color: transparent }
	.menu-mobile-transparent .item-icon .bar1, 
	.menu-mobile-transparent .item-icon .bar2, 
	.menu-mobile-transparent .item-icon .bar3 {
		background-color: #c60021;
	}

	/*== Sticky mobile menu == */
	.menu-mobile-sticky { position: fixed }
	
}



/*===================== DESKTOP LOGO AND NAVIGATION MENU BAR ======================= */

/* Hide on mobiles */
@media all and (max-width:767px) { 
	.container-menu-desktop { display: none }
}

/* Display on desktops */
@media all and (min-width:768px) { 
	.container-menu-desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		width: 100%;
		margin-bottom: 40px;
		z-index:99;
	}

	/* Logo */
	.container-menu-desktop .item-logo img { display: block; margin-left: 8px }

	/* Menu options */
	.container-menu-desktop .item-menu ul { text-align: right }

	.container-menu-desktop .item-menu ul li {
		display: inline;
		list-style-type: none;
		line-height:1;
	}

	.container-menu-desktop .item-menu ul li:last-child { margin-right: 12px }

	.container-menu-desktop .item-menu ul li a { 
		text-decoration: none;
		font-weight:normal;
		font-size: calc(14px + (19 - 14) * ((100vw - 320px)/(1600 - 320)))
	}

	.container-menu-desktop .item-menu ul li a:hover, 
	.container-menu-desktop .item-menu ul li a:active { 
		text-decoration: underline;
	}

	/* Menu option styled as a button */
	.container-menu-desktop .item-menu ul li a.btn-solid { 
		padding: 8px 20px;
		border-width: 2px;
		border-style: solid;
		font-size: 96%;
		font-weight:bold
	}

	.container-menu-desktop .item-menu ul li a.btn-solid i { margin-right: 12px }

	.container-menu-desktop .item-menu ul li a.btn-solid:hover, 
	.container-menu-desktop .item-menu ul li a.btn-solid:active { 
		text-decoration: none;
		background-color: #500294;
		color:#fff;
	}

	/* Button corner styles */
	.container-menu-desktop .item-menu ul li a.btn-soft    { border-radius: 5px }
	.container-menu-desktop .item-menu ul li a.btn-rounded { border-radius: 100px }

}

/* Spacing for various desktop screen widths */
@media all and (min-width:768px) and (max-width:899px) { 
	.container-menu-desktop { padding: 0 2% }
	.container-menu-desktop .item-menu { margin-left: -200px }
	.container-menu-desktop .item-menu ul li { margin-right: 20px }
}

@media all and (min-width:901px) and (max-width: 1099px) { 
	.container-menu-desktop { padding: 0 5% 0 5% }
	.container-menu-desktop .item-menu { margin-left: -180px }
	.container-menu-desktop .item-menu ul li { margin-right: 30px }
}

@media all and (min-width:1100px) { 
	.container-menu-desktop { padding: 0 8% 0 8% }
	.container-menu-desktop .item-menu { margin-left: 0 }
	.container-menu-desktop .item-menu ul li { margin-right: 40px }
}


/* Styles for light (white background) and dark (#1e266d background) menus */
@media all and (min-width:768px) { 

	/*== Dark desktop menu == */
	.menu-desktop-dark { background-color: #500294 }
	.menu-desktop-dark .item-menu ul li a { color: #d7edff }


	.menu-desktop-dark .item-menu ul li a.btn-solid { 
		background-color: #FF3366; color:#d7edff;
		border-color: #FF3366
	}

	.menu-desktop-dark .item-menu ul li a.btn-solid:hover, 
	.menu-desktop-dark .item-menu ul li a.btn-solid:active { 
		background-color: #d7edff; border-color: #d7edff; color: #500294;
	}

	/*== Light desktop menu == */
	.menu-desktop-light { background-color: #e3e3e3 }
	.menu-desktop-light .item-menu ul li a { color: #c60021; font-weight:bold }

	.menu-desktop-light .item-menu ul li a:hover,
	.menu-desktop-light .item-menu ul li a:active {
		color: #c60021;
	}

	.menu-desktop-light .item-menu ul li a.btn-solid { 
		background-color: #c60021; border-color: #c60021; color: #fff; font-weight:bold
	}

	.menu-desktop-light .item-menu ul li a.btn-solid:hover, 
	.menu-desktop-light .item-menu ul li a.btn-solid:active { 
		background-color: #1e266d; border-color: #1e266d;  color: #fff;
	}

	/*== Transparent desktop menu == */
	.menu-desktop-transparent { background-color: transparent }

	.menu-desktop-transparent .item-menu ul li a { color: #fff;font-weight:bold }

	.menu-desktop-transparent .item-menu ul li a.btn-solid { 
		background-color: #c60021; border-color: #c60021; color: #fff;
	}

	.menu-desktop-transparent .item-menu ul li a.btn-solid:hover, 
	.menu-desktop-transparent .item-menu ul li a.btn-solid:active { 
		background-color: #fff; color: #c60021; border-color: #c60021;
	}

	/*== Sticky desktop menu == */
	.menu-desktop-sticky { position: fixed }

}

/* === HERO BLOCK 5 === */

.hero-block-5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0;
}

.hero-block-5 h1, .hero-block-5 h2 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px #222;
}

.hero-block-5 h1 {
	font-size: calc(54px + (112 - 54) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-5 h2 {
	font-size: calc(24px + (64 - 24) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.5;
}

/* Desktop - block height, text width and h1 bottom margin */
@media all and (min-width:768px) { 
	.hero-block-5 { height: 520px }
	.hero-block-5 h1, .hero-block-5 h2 { 
		width: 60%; 
		margin-left: auto;
		margin-right: auto;
	}
	.hero-block-5 h1 { margin-bottom: 1% }
}

/* Mobiles - block height, text width and h1 bottom margin */
@media all and (max-width:767px) { 
	.hero-block-5 { height: 360px }
	.hero-block-5 h1, .hero-block-5 h2  { 
		margin-top: 0; 
		width: 70%; 
		margin-left: auto;
		margin-right: auto;
	}
	.hero-block-5 h1 { margin-bottom: 5% }
}


/* ======== FULL WIDTH FEATURE STATEMENT ====  */

.container-full-feature {
	width: 100%;
	background-color: #f6f6f8;
}

.container-full-feature h2, .container-full-feature p {
	text-align: center;
}

.container-full-feature h2 {
	color: #c60021;
	font-size: calc(24px + (54 - 24) * ((100vw - 320px) / (1600 - 320))); 
}

.container-full-feature p {
	font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.6;
	color:#222
}

.container-full-feature p a {
	color: #c60021;
	font-size: inherit;
}

/* Desktop */
@media all and (min-width:768px) { 
	.container-full-feature { padding: 4% 12% 4% 12% }
	.container-full-feature h2 { margin-bottom: 3% }
}

/* Mobiles */
@media all and (max-width:767px) { 
	.container-full-feature { padding: 10% 10% 10% 10% }
	.container-full-feature h2 { margin-bottom: 3% }
}



/*======================= 3-COLUMN GRID =====================*/

.flex-grid-three { display: flex; text-align: center }

/* Desktop */
@media all and (min-width:768px) { 
	.flex-grid-three { 
		flex-direction: row; /* left to right */
		text-align: left;
		padding-top: 4%
	}
}

/* Mobiles */
@media all and (max-width:767px) { 
	.flex-grid-three { 
		flex-direction: column; /* top to bottom */
		text-align: center;
		padding-top: 10%
	}
}

/* ==== COLUMNS IN THREE COLUMN GRID ======= */

/* Desktop */
@media all and (min-width:768px) { 
	.flex-grid-three .col-gutter { width: 32% }
	.flex-grid-three .col-gutter:nth-child(1) { margin-right: 4% }
	.flex-grid-three .col-gutter:nth-child(2) { margin-right: 4% }
	.flex-grid-three .col-gutter:nth-child(3) { margin-right: 0 }
}

/* Mobiles */
@media all and (max-width:767px) { 
	.flex-grid-three .col-gutter { width: 100% }
	.flex-grid-three .col-gutter:nth-child(1) { margin-bottom: 3% }
	.flex-grid-three .col-gutter:nth-child(2) { margin-bottom: 3% }
	.flex-grid-three .col-gutter:nth-child(3) { margin-bottom: 3% }
}

/*  ===== CONTENT WITHIN COLUMNS ====*/

.flex-grid-three p { 
	font-weight: 400;
	color: #4c4f5a;
	line-height: 1.5;
	font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1600 - 320)));
}

.flex-grid-three img  { 
	display:block;
	margin-bottom:16px;
}


/* Desktop */
@media all and (min-width:768px) { 
	.flex-grid-three p { margin-bottom: 8% }
	.flex-grid-three img  { margin-bottom: 32px; max-width: 90% }
}

/* Mobiles */
@media all and (max-width:767px) { 
	.flex-grid-three p { margin-bottom: 10% }
	.flex-grid-three img  { margin-bottom: 28px; max-width: 80%; margin-left: auto; margin-right: auto }
}


/*======================= FOOTER =====================*/

.container-footer { background-color: #e3e3e3; margin-top: 0 }

.bg-footer { background: #2c3e50; padding: 42px 0 48px 0  }

.flex-grid-footer { display: flex }

.container-footer h4, 
.container-footer p { color: #1e266d }

.container-footer p i.fas,
.container-footer p i.fab { color: #c60021 }

.flex-grid-footer p a:link, 
.flex-grid-footer p a:visited {
	color: #c60021;
	padding-bottom:2px;
	text-decoration: none;
	border-bottom: solid 1px #c60021;
	font-weight:bold
}

.flex-grid-footer p a:hover,
.flex-grid-footer p a:active {
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: solid 1px transparent;
	color: #c60021;
}


.flex-grid-footer h4 {
	font-weight:bold;
	font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1600 - 320))); line-height: 1.6
}

.flex-grid-footer p { 
	font-size: calc(15px + (16 - 15) * ((100vw - 320px)/(1600 - 320))); 
	line-height: 1.6;
	margin-bottom: 12px
}

/* Desktop */
@media all and (min-width:768px) { 
	.flex-grid-footer { flex-direction: row; text-align: left; padding: 3% 8% 3% 8% }
	.flex-grid-footer .col-gutter:nth-child(1) { width: 22%; margin-right: 4% }
	.flex-grid-footer .col-gutter:nth-child(2) { width: 62%; margin-right: 4%; padding-left:4%; padding-right: 4% }
	.flex-grid-footer .col-gutter:nth-child(3) { width: 22%; margin-right: 0 }
	.flex-grid-footer .col-gutter:nth-child(2) { text-align: center }
	.flex-grid-footer h4 { margin-bottom: 6px }
}

/* Mobiles */
@media all and (max-width:767px) { 
	.flex-grid-footer { flex-direction: column; text-align: left; padding: 10% 10% 10% 10% }
	.flex-grid-footer .col-gutter, 
	.flex-grid-footer .col-no-gutter { width: 100% }

	.flex-grid-footer .col-gutter:nth-child(1),
	.flex-grid-footer .col-gutter:nth-child(2) { padding-bottom: 22px }

	.flex-grid-footer h4 { margin-bottom: 2px }
}


/* ======== ANIMATION ON PAGE LOAD ===== */

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-20 10:33:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/*
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}