/* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; font-weight: normal; font-size: 16px }
body, html { height: 100% } 
body { max-width: 1600px; margin: 0 auto }
img { display: block; width: 100%; height: auto }
