/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; font-family: sans-serif }
img { width: 100%; height: auto }
* { margin:0; padding:0; box-sizing: border-box }

/* Desktop - show this menu */

@media all and (min-width:768px) {
	.container-menu-desktop {
		display: flex;
		justify-content: space-between;
		padding: 1% 5% 1% 5%;
		margin-bottom: -64px;
	}
	
	.container-menu-desktop .item-logo {
	
	
	}
	
	.container-menu-desktop .item-menu-options {
	
	}


	.container-menu-desktop .item-menu-options ul li	{
		display: inline-block;
		margin-left:32px;
	}

	.container-menu-desktop .item-menu-options ul li a:link,
	.container-menu-desktop .item-menu-options ul li a:visited {
		text-decoration: none;
		color: #fff		
	}

	.container-menu-desktop .item-menu-options ul li a:hover,
	.container-menu-desktop .item-menu-options ul li a:active {
		text-decoration: underline;
		color: #fff		
	}

	.container-menu-desktop .item-menu-options ul li a.btn:link, .container-menu-desktop .item-menu-options ul li a.btn:visited,
	.container-menu-desktop .item-menu-options ul li a.btn:hover, .container-menu-desktop .item-menu-options ul li a.btn:active { 
		text-decoration: none;
		color: inherit;
		border-style: solid;
		border-width: 2px;
		padding: 6px 24px;
		display: inline-block;
		font-weight: bold;
		font-family: sans-serif;
		letter-spacing: 1px;
		line-height: 1;
		border-radius:25px
	 }

	 .container-menu-desktop .item-menu-options ul li a.btn:hover, .container-menu-desktop .item-menu-options ul li a.btn:active { 

	}


	/*== Light desktop menu == */
	.menu-desktop-light { background-color: #e3e3e3 }
	.menu-desktop-light .item-menu-options ul li a { color: #c60021; font-weight:bold }

	.menu-desktop-light .item-menu ul li a:hover,
	.menu-desktop-light .item-menu ul li a:active {
		color: #c60021;
	}

	.menu-desktop-light .item-menu ul li a.btn { 
		background-color: #c60021; border-color: #c60021; color: #fff; font-weight:bold
	}

	.menu-desktop-light .item-menu ul li a.btn:hover, 
	.menu-desktop-light .item-menu ul li a.btn:active { 
		background-color: #1e266d; border-color: #1e266d;  color: #fff;
	}

	/*== Transparent desktop menu == */
	.menu-desktop-transparent { background-color: transparent }

	.menu-desktop-transparent .item-menu ul li a { color: #fff;font-weight:bold }

	.menu-desktop-transparent .item-menu ul li a.btn { 
		background-color: #c60021; border-color: #c60021; color: #fff;
	}

	.menu-desktop-transparent .item-menu ul li a.btn:hover, 
	.menu-desktop-transparent .item-menu ul li a.btn:active { 
		background-color: #fff; color: #c60021; border-color: #c60021;
	}

	/*== Sticky desktop menu == */
	.menu-desktop-sticky { position: fixed; width: 100% }






}


/* Mobiles - hide this menu */
@media all and (max-width:767px) {
	.container-menu-desktop { 
		display: none
	}

}




/* === HERO BLOCK 5 === */

.hero-block-5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}



/* =================================== OUTER FLEXBOX CONTAINERS ============================= */
.container-flexbox { 
	display: flex;
	justify-content: space-between;
}


/* Desktop - inside padding  */
@media all and (min-width:768px) {
	.container-flexbox { 
		padding: 3% 5% 3% 5%
	}
}

/* Mobiles - inside padding */
@media all and (max-width:767px) {
	.container-flexbox { 
		padding: 3% 10% 3% 10%
	}

}

.container-flexbox.bg-watermelon  { background-color: #f77bb6}
.container-flexbox.bg-apple       { background-color: #93edc3}
.container-flexbox.bg-blueberry   { background-color: #a287ca }
.container-flexbox.bg-lemon       { background-color: #e7e78c }





/* ================ INNER FLEXBOX COLUMN CONTAINERS: 1 COLUMN EVERY SCREEN ============== */

.container-flexbox .item-1 { 
	width: 100%;
	padding: 1% 6% 0 6%;
}



/* ===== INNER FLEXBOX COLUMN CONTAINERS: 2 COLUMNS DESKTOP, 1 COLUMN MOBILE  ====== */

.container-flexbox .item-2 { width: 46% }

/* Desktop - outside spacing at bottom of within inner flexbox containers */
@media all and (min-width:768px) {
	.container-flexbox .item { margin-bottom: 3% }
}

/* Mobiles - bottom margin */
@media all and (max-width:767px) {
	.container-flexbox .item { margin-bottom: 5% }
}

/* === HEADINGS AND PARAGRAPH ELEMEHTS WITHIN FLEXBOX CONTAINERS === */

.container-flexbox .item-2 h2 { 
	font-family: 'Neucha', sans-serif;
	font-weight: 800; 
	color: #d1274b;
	line-height: 1.2;
	margin-bottom: 4px;
	letter-spacing: 2px;
	font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-2 p { 
	font-family: 'Neucha', sans-serif;
	font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.6;
	margin-bottom: 14px;
	letter-spacing: 1px
}

.container-flexbox .item-1 p { 
	font-family: 'Neucha', sans-serif;
	font-weight: bold; 
	color: #733fc0;
	line-height: 1.6;
	text-align: center;
	font-size: calc(26px + (54 - 26) * ((100vw - 320px) / (1600 - 320))); 
}


/* =========== FLEXBOX CONTAINERS AND MOBILE SCREENS  ============= */

@media all and (max-width:767px) { 
	/* Two columns to one column */
	.container-flexbox { flex-direction: column }
	.container-flexbox .item-2 { width: 100% }
	.container-flexbox.bg-watermelon .item-2:nth-child(1) { order: 2 }
	.container-flexbox.bg-watermelon .item-2:nth-child(2) { order: 1 }
	.container-flexbox.bg-blueberry  .item-2:nth-child(1) { order: 2 }
	.container-flexbox.bg-blueberry  .item-2:nth-child(2) { order: 1 }
}


.hero-block-5 h1, .hero-block-5 h2 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-family: 'Neucha', sans-serif;
	text-shadow: 2px 2px #222;
}

.hero-block-5 h1 {
	font-size: calc(64px + (112 - 64) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-5 h2 {
	font-size: calc(24px + (64 - 24) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.5;
}

/* Desktop - block height, text width and h1 bottom margin */
@media all and (min-width:768px) { 
	.hero-block-5 { height: 520px }
	.hero-block-5 h1, .hero-block-5 h2 { 
		width: 60%; 
		margin-left: auto;
		margin-right: auto;
	}
	.hero-block-5 h1 { margin-bottom: 1% }
}

/* Mobiles - block height, text width and h1 bottom margin */
@media all and (max-width:767px) { 
	.hero-block-5 { height: 360px }
	.hero-block-5 h1, .hero-block-5 h2  { 
		margin-top: 0; 
		width: 70%; 
		margin-left: auto;
		margin-right: auto;
	}
	.hero-block-5 h1 { margin-bottom: 5% }
}


/* ============ FOOTER STYLES ================= */

/* Outer parent container */
.container-footer { 
	display: flex;
	justify-content: space-between;
   flex-wrap: wrap;
   background:#2c3e50
}

/* Desktop - inside padding  */
@media all and (min-width:768px) {
	.container-footer { padding: 3% 8% 5% 8% }
}

/* Mobiles - inside padding */
@media all and (max-width:767px) {
	.container-footer { padding: 12% 8% 1% 8% }
}

/* Inner columns */

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
   .container-footer .item-3:nth-child(1) { width: 20% }
   .container-footer .item-3:nth-child(2) { width: 50% }
   .container-footer .item-3:nth-child(3) { width: 20% }
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-footer .item-3 { 
      width: 100%;
      margin-bottom: 10%
   }
   .container-footer .item-3:nth-child(2) { order: 1 }
   .container-footer .item-3:nth-child(1) { order: 2 }
   .container-footer .item-3:nth-child(3) { order: 3 } 
}

/* Styles for background, text and links */

.container-footer .item-3 h4,
.container-footer .item-3 p,
.container-footer .item-3 p i,
.container-footer .item-3 p a {
   color: #fff
}

.container-footer .item-3 h4 {
   font-weight: bold;
   margin-bottom: 12px;
   font-size: calc(18px + (20 - 18) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer .item-3 p {
   font-weight: normal;
   margin-bottom: 12px;
   font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer .item-3 i { 
   padding-right: 26px;
} 

.container-footer .item-3 p a {
   text-decoration: none;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   padding-bottom:2px;
}

.container-footer .item-3 p a:link, 
.container-footer .item-3 p a:visited  {
   border-bottom-color: transparent;
}

.container-footer .item-3 p a:hover, 
.container-footer .item-3 p a:active  {
   border-bottom-color: #fff

}



