/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; font-family: sans-serif }
img { width: 100%; height: auto; display: block }

body { background-color: #eff8f5 }

/* === HERO BLOCK === */

.container-hero-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container-hero-block.home-page {
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/hero-home.jpg');
}

.container-hero-block.destinations-page {
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/hero-destinations.jpg');
}

.container-hero-block.about-us-page {
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../img/hero-about-us.jpg')
}

.container-hero-block h1, .container-hero-block h2 {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px #222;
	margin-left: auto;
	margin-right: auto;
}

.container-hero-block h1 { 
	color: #fff;
	font-size: calc(42px + (102 - 42) * ((100vw - 320px)/(1600 - 320)))
}

.container-hero-block h2 {
	color:  #ff5000;
	line-height: 1.5;
	font-size: calc(32px + (64 - 32) * ((100vw - 320px)/(1600 - 320)));
}

/* Desktop - block height, text width and h1 bottom margin */
@media all and (min-width:768px) { 
	.container-hero-block { height: 520px }
	.container-hero-block h1, .container-hero-block h2 { 
		width: 60%; 
	}
	.container-hero-block h1 { margin-bottom: 3% }
}

/* Mobiles - block height, text width and h1 bottom margin */
@media all and (max-width:767px) { 
	.container-hero-block { height: 360px }
	.container-hero-block h1, .container-hero-block h2  { 
		width: 90%; 
	}
	.container-hero-block h1 { margin-bottom: 5% }
}


/* ========= PARENT FLEXBOX CONTAINERS ======= */

.container-flexbox { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktop - inside padding  */
@media all and (min-width:768px) {
	.container-flexbox { padding: 2% 10% 2% 10% }
	.container-flexbox.no-padding-bottom { padding: 2% 10% 0 10% }
	.container-flexbox.no-padding-top    { padding: 0 10% 0 10% }
}

/* Mobiles - inside padding */
@media all and (max-width:767px) {
	.container-flexbox { padding: 7% 8% 1% 8% }
}

/* Background colors */
.container-flexbox.bg-orange { background-color: #ff5000  }


/* ====== INNER FLEXBOX COLUMN: 1 COLUMN EVERY SCREEN ======= */

.container-flexbox .item-1 { 
	width: 100%;
	padding: 1% 6% 0 6%;
}


/* =======INNER FLEXBOX COLUMNS: 3 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ===== */

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-3 { width: 30% }
	.container-flexbox .item-3 { margin-bottom: 3% }
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-3 { width: 100% }
	.container-flexbox .item-3 { margin-bottom: 14% }
}


/* ==== INNER FLEXBOX COLUMNS: 4 COLUMNS ON DESKTOPS, 2 COLUMNS ON MOBILES ======= */

/* Desktops - 4 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-4-2 { width: 22% }
	.container-flexbox .item-4-2 { margin-bottom: 3% }
}

/* Mobiles - 2 columns */
@media all and (max-width:767px) { 
	.container-flexbox .item-4-2 { width: 47% }
	.container-flexbox .item-4-2 { margin-bottom: 10% }
}

/* =======INNER FLEXBOX COLUMNS: 3 COLUMNS ON DESKTOPS, 2 COLUMNS ON MOBILES ===== */

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
	.container-flexbox.happy-users .item-3-2 { width: 30% }
	.container-flexbox.happy-users .item-3-2 { margin-bottom: 3% }
}

/* Mobiles - 2 column */
@media all and (max-width:767px) { 
	.container-flexbox.happy-users .item-3-2 { width: 45% }
	.container-flexbox.happy-users .item-3-2 { margin-bottom: 14% }
}

.container-flexbox.happy-users .item-3-2 {
	text-align: center;
	margin-top: 3%;
	padding-bottom:2%;
}

.container-flexbox.happy-users .item-3-2 img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	width: 70%; 
	border-radius: 100%;
	border-color: #ff5000;
	border-style: solid;
	border-width: 6px
}


/* ================ HEADINGS, PARAGRAPHS, IMAGES AND FAUX BUTTONS ============== */

/* Single column */
.container-flexbox .item-1 h2 { 
	font-family: 'Raleway', sans-serif;
	font-weight: 700; 
	color: #044d6c;
	line-height: 1.2;
	margin-bottom: 12px;
	letter-spacing: 2px;
	text-align: center;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-1 p { 
	font-family: 'Raleway', sans-serif;
	font-weight: 400; 
	color: #044d6c;
	line-height: 1.6;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom:24px;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-1 p a {
	color: #ff5000;
	font-weight: bold;	
	text-decoration: none;
	border-bottom-style:solid;
	border-bottom-width:2px;
	padding-bottom: 2px;
}


.container-flexbox .item-1 p a:link,
.container-flexbox .item-1 p a:visited { 
	border-bottom-color: #ff5000;
}

.container-flexbox .item-1 p a:hover,
.container-flexbox .item-1 p a:active { 
	border-bottom-color: transparent;
}


/* Three and four columns */
.container-flexbox .item-3 h3,
.container-flexbox .item-4-2 h3 { 
	font-family: 'Roboto Slab', serif;
	font-weight: 700; 
	color: #ff5000;;
	line-height: 1.2;
	margin-bottom: 2px;
	letter-spacing: 2px;
	font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-3 p,
.container-flexbox .item-4-2 p { 
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.7;
	margin-bottom: 14px;
}

.container-flexbox .item-3 img,
.container-flexbox .item-4-2 img {
	margin-bottom: 12px;
	border-radius: 5px;
}

.container-flexbox.happy-users {
	background-color: #fff
}

.container-flexbox.happy-users .item-3-2 p {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.5;
}

.container-flexbox.bg-orange h2,
.container-flexbox.bg-orange h3,
.container-flexbox.bg-orange p { color: #fff }

/* ----------------------------------------------
 * Generated by Animista on 2019-3-20 10:33:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-in-top {
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* == Begin footer CSS == */

/* Outer footer parent container */
.container-footer { 
    text-align: center;
    color:#fff;
    background-color: #044d6c;
}

/* Desktop footer - inside padding  */
@media all and (min-width:768px) {
	.container-footer { padding: 4% 8% 5% 8% }
}

/* Mobiles footer - inside padding */
@media all and (max-width:767px) {
	.container-footer { padding: 8% 8% 12% 8% }
}

/* Styles for footer background, text, icons and links */

.container-footer h4,
.container-footer h5,
.container-footer ul li,
.container-footer ul li a,
.container-footer p,
.container-footer p a {
   color: #fff
}

/* Footer headings */
.container-footer h4 {
   font-family: serif;
   font-weight: normal;
   font-style: italic;
   font-size: calc(26px + (48 - 26) * ((100vw - 320px)/(1600 - 320)));
   margin: 0 auto 16px 0;
}

.container-footer h5 {
    font-family: sans-serif;
    font-weight: normal;
    font-style:  italic;
    color: #8d9093;
    margin: 0 auto 36px auto;
    font-size: calc(20px + (32 - 20) * ((100vw - 320px)/(1600 - 320)));
}

/* Footer text links and icon links */
.container-footer ul.footer-links,
.container-footer ul.footer-icons {
    list-style-type: none;
}

.container-footer ul.footer-links {
    margin: 0 auto 48px auto;
}

.container-footer ul.footer-icons {
    margin: 0 auto 48px auto;
}

.container-footer ul.footer-links li,
.container-footer ul.footer-icons li {
    display: inline-block;
    margin: 0 32px 0 0;
}

.container-footer ul.footer-links li:last-child,
.container-footer ul.footer-icons li:last-child {
    margin-right: 0;
}

/* Footer text links */
.container-footer ul.footer-links li a {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom:2px;    
    font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer ul.footer-links li a:link, 
.container-footer ul.footer-links li a:visited  {
   border-bottom-color: transparent;
}

.container-footer ul.footer-links li a:hover, 
.container-footer ul.footer-links li a:active  {
   border-bottom-color: #fff
}

/* Footer icons */
.container-footer ul.footer-icons li a i {
    text-decoration: none;
    font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer ul.footer-icons li a:hover, 
.container-footer ul.footer-icons li a:active  {
   color: #fff
}

/* Privacy and legal link */
.container-footer p a {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom:2px;    
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer p a:link, 
.container-footer p a:visited  {
   border-bottom-color: transparent;
}

.container-footer p a:hover, 
.container-footer p a:active  {
   border-bottom-color: #fff
}

a.privacy-legal {
    font-family: sans-serif;    
    display: inline-block;
    color:#fff;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom:2px;    
    font-size: calc(14px + (17 - 14) * ((100vw - 320px)/(1600 - 320)));
}

a.privacy-legal:link,
a.privacy-legal:visited {
    border-bottom-color: transparent;
}

a.privacy-legal:active,
a.privacy-legal:hover {
    border-bottom-color: #fff
}

/* == End footer CSS == */
