/* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; font-weight: normal }
body, html { height: 100% }	
html { box-sizing: border-box; scroll-behavior: smooth }
body { max-width: 1600px; margin: 0 auto }

/* === HERO BLOCK 1 === */
.hero-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0065f2;
}

.hero-block-1 h1, .hero-block-1 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4    
}

.hero-block-1 h1 {
    font-size: calc(36px + (72 - 36) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-1 h2 {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px)/(1600 - 320)));
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
    .hero-block-1 { height: 360px; margin-bottom: 40px }
    .hero-block-1 h1, .hero-block-1 h2 { width: 80% }
    .hero-block-1 h1 { margin-bottom: 10% } 
}

/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) { 
    .hero-block-1 { height: 480px; margin-bottom: 80px }
    .hero-block-1 h1, .hero-block-1 h2 { width: 60% }
    .hero-block-1 h1 { margin-bottom: 4% }
}

/* === HERO BLOCK 2 === */

.hero-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #78d8da;
}

.hero-block-2 h1, .hero-block-2 h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: bold;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5    
}

.hero-block-2 h1 {
    font-size: calc(32px + (84 - 32) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-2 h2 {
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));
    font-weight: normal
}

/* Mobiles */
@media all and (max-width:767px) { 
    .hero-block-2 { height: 360px; margin-bottom: 40px }
    .hero-block-2 h1, .hero-block-2 h2 { width: 80% }
    .hero-block-2 h1 { margin-bottom: 10% } 
}

/* Desktop */
@media all and (min-width:768px) { 
    .hero-block-2 { height: 480px; margin-bottom: 80px }
    .hero-block-2 h1, .hero-block-2 h2 { width: 60% }
    .hero-block-2 h1 { margin-bottom: 4% }
}

/* === HERO BLOCK 3 === */

.hero-block-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6e58d;
}

.hero-block-3 h1, .hero-block-3 h2 {
    font-family: 'Merriweather', serif;
    color: #273c75;
    font-weight: bold;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4    
}

.hero-block-3 h1 {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-3 h2 {
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));
    font-weight: normal
}

/* Mobiles */
@media all and (max-width:767px) { 
    .hero-block-3 { height: 360px; margin-bottom: 40px }
    .hero-block-3 h1, .hero-block-3 h2 { width: 70% }
    .hero-block-3 h1 { margin-bottom: 5% } 
}

/* Desktop */
@media all and (min-width:768px) { 
    .hero-block-3 { height: 480px; margin-bottom: 80px }
    .hero-block-3 h1, .hero-block-3 h2 { width: 60% }
    .hero-block-3 h1 { margin-bottom: 1% }
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-12 11:33:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #f6e58d;
    }
    100% {
      background: #f1c40f;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #f6e58d;
    }
    100% {
      background: #f1c40f;
    }
}
  

/* === HERO BLOCK 4 === */

.hero-block-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(#512d6d,#c42f9e);
}

.hero-block-4 h1, .hero-block-4 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4    
}

.hero-block-4 h1 {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-4 h2 {
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));
    font-weight: normal
}

/* Mobiles  */
@media all and (max-width:767px) { 
    .hero-block-4 { height: 360px; margin-bottom: 40px }
    .hero-block-4 h1, .hero-block-4 h2 { width: 70% }
    .hero-block-4 h1 { margin-bottom: 5% } 
}

/* Desktop */
@media all and (min-width:768px) { 
    .hero-block-4 { height: 480px; margin-bottom: 80px }
    .hero-block-4 h1, .hero-block-4 h2 { width: 60% }
    .hero-block-4 h1 { margin-bottom: 1% }
}


/* === HERO BLOCK 5 === */

.hero-block-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/hotel-dark.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.hero-block-5 h1, .hero-block-5 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-shadow: 2px 2px #222 
}

.hero-block-5 h1 {
    font-size: calc(60px + (112 - 60) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-5 h2 {
    font-size: calc(24px + (54 - 24) * ((100vw - 320px)/(1600 - 320)));
}

/* Mobiles */
@media all and (max-width:767px) { 
    .hero-block-5 { height: 360px; margin-bottom: 40px }
    .hero-block-5 h1, .hero-block-5 h2 { width: 70% }
    .hero-block-5 h1 { margin-bottom: 5% } 
}

/* Desktop */
@media all and (min-width:768px) { 
    .hero-block-5 { height: 480px; margin-bottom: 80px }
    .hero-block-5 h1, .hero-block-5 h2 { width: 60% }
    .hero-block-5 h1 { margin-bottom: 1% }
}


/* === HERO BLOCK 6 === */

.hero-block-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/bike-tours.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.hero-block-6 h1, .hero-block-6 h2 {
    font-family: 'Monstserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-shadow: 2px 2px #222 
}

.hero-block-6 h1 {
    font-size: calc(60px + (112 - 60) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-6 h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: calc(24px + (48 - 24) * ((100vw - 320px)/(1600 - 320)));
}

/* Mobiles */
@media all and (max-width:767px) { 
    .hero-block-6 { height: 360px; margin-bottom: 40px }
    .hero-block-6 h1, .hero-block-6 h2 { width: 80% }
    .hero-block-6 h1 { line-height: 1.2; margin-bottom: 10% } 
}

/* Desktop */
@media all and (min-width:768px) { 
    .hero-block-6 { height: 480px; margin-bottom: 80px }
    .hero-block-6 h1, .hero-block-6 h2 { width: 80% }
    .hero-block-6 h1 { margin-bottom: 5% }
}


/* === HERO BLOCK 7 === */

.hero-block-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,255,0.5),rgba(0,0,255,0.5)),url('../img/meeting.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.hero-block-7 h1, .hero-block-7 h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-shadow: 2px 2px #222;
    text-transform: uppercase;
}

.hero-block-7 h1 {
    font-size: calc(34px + (76 - 34) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-7 h2 {
    font-size: calc(22px + (40 - 22) * ((100vw - 320px)/(1600 - 320)));
}

/* Mobiles */
@media all and (max-width:767px) { 
    .hero-block-7 { height: 360px; margin-bottom: 40px }
    .hero-block-7 h1, .hero-block-7 h2 { width: 70% }
    .hero-block-7 h1 { margin-bottom: 10% } 
}

/* Desktop */
@media all and (min-width:768px) { 
    .hero-block-7 { height: 480px; margin-bottom: 80px }
    .hero-block-7 h1, .hero-block-7 h2 { width: 60% }
    .hero-block-7 h1 { margin-bottom: 2% }
}

/* === HERO BLOCK 8 === */

.hero-block-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.hero-block-8 h1, .hero-block-8 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4
}

.hero-block-8 h1 {
    font-size: calc(38px + (68 - 38) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1
}

.hero-block-8 h2 {
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.5
}

/* Mobiles */
@media all and (max-width:767px) {
    .hero-block-8 { 
        background-image: url('../img/stormy-beach-mobile.jpg');
        height: 440px; margin-bottom: 40px
    }
    .hero-block-8 h1, .hero-block-8 h2 { 
        text-align: center;
        width: 90%;
        color: #fff;
        text-shadow: 2px 2px #222;
    }
    .hero-block-8 h1 { margin-bottom: 18% }
    .hero-block-8 h2 { 
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
        padding: 14px 10px;
        width: 80%;
    }      
}

/* Desktop  */
@media all and (min-width:768px) { 
    .hero-block-8 { 
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../img/stormy-beach.jpg');
        height: 480px; margin-bottom: 80px
    }
    .hero-block-8 h1, .hero-block-8 h2 { 
        text-align: left;
        width: 40%;
        margin-left: 10%;
        color: #000;
    }
    .hero-block-8 h1 { margin-bottom: 5% } 
}


/* === HERO BLOCK 9 === */

.hero-block-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../img/plants.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.hero-block-9 h1, .hero-block-9 h2 {
    font-family: 'Playfair Display', serif;
    color: #000;
    font-weight: bold;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4
}

.hero-block-9 h1 {
    font-size: calc(42px + (68 - 42) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1
}

.hero-block-9 h2 {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.5
}

/* Mobiles */
@media all and (max-width:767px) {
    .hero-block-9 { height: 440px; margin-bottom: 40px }
    .hero-block-9 h1, .hero-block-9 h2 { width: 80% }
    .hero-block-9 h1 { margin-bottom: 12% }
}

/* Desktop  */
@media all and (min-width:768px) { 
    .hero-block-9 { height: 480px; margin-bottom: 80px }
    .hero-block-9 h1, .hero-block-9 h2 { width: 40%; margin-left: 10% }
    .hero-block-9 h1 { margin-bottom: 5% } 
}


/* === HERO BLOCK 10 === */

.hero-block-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.hero-block-10 h1, .hero-block-10 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-shadow: 2px 2px #222;
}

.hero-block-10 h1 {
    font-size: calc(44px + (68 - 44) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1;
    text-transform: uppercase;
}

.hero-block-10 h2 {
    font-size: calc(22px + (38 - 22) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.5;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    padding: 12px
}

/* Mobiles */
@media all and (max-width:767px) {
    .hero-block-10 { 
        background-image: url('../img/learn-english-mobile.png');
        height: 440px; margin-bottom: 40px
    }
    .hero-block-10 h1, .hero-block-10 h2 { 
        text-align: center;
        width: 80%;
    }
    .hero-block-10 h1 { margin-bottom: 12% }
}

/* Desktop  */
@media all and (min-width:768px) { 
    .hero-block-10 { 
        background-image: url('../img/learn-english.png');
        height: 480px; margin-bottom: 80px
    }
    .hero-block-10 h1, .hero-block-10 h2 { 
        width: 40%;
        margin-left: 50%;
    }
    .hero-block-10 h1 { margin-bottom: 2% } 
}


/* === HERO BLOCK 11 === */

.hero-block-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.hero-block-11 h1, .hero-block-11 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-shadow: 2px 2px #222;
}

.hero-block-11 h1 {
    font-size: calc(44px + (68 - 44) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1;
    text-transform: uppercase;
}

.hero-block-11 h2 {
    font-size: calc(22px + (38 - 22) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.5;
    background-image: linear-gradient(rgba(255,0,0,0.5),rgba(255,0,0,0.5));
    padding: 12px
}

/* Mobiles */
@media all and (max-width:767px) {
    .hero-block-11 { 
        background-image: url('../img/beach-holiday-mobile.jpg');
        height: 440px; margin-bottom: 40px
    }
    .hero-block-11 h1, .hero-block-11 h2 { 
        text-align: center;
        width: 80%;
    }
    .hero-block-11 h1 { margin-bottom: 12% }
}

/* Desktop  */
@media all and (min-width:768px) { 
    .hero-block-11 { 
        background-image: url('../img/beach-holiday.jpg');
        height: 480px; margin-bottom: 80px
    }
    .hero-block-11 h1, .hero-block-11 h2 { 
        width: 40%;
        margin-left: 50%;
        text-align: left;
    }
    .hero-block-11 h1 { margin-bottom: 2% } 
}

