/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; font-family: sans-serif }
img { width: 100%; height: auto; display: block }
html { scroll-behavior: smooth }

body { font-family: 'Roboto', sans-serif; background-color: #f5f5f5 }


/* ============ PARENT FLEXBOX CONTAINERS ========== */

.container-flexbox { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktops only - inside padding  */
@media all and (min-width:768px) {
	.container-flexbox { padding: 2% 10% 1% 10% }
}

/* Mobiles only - inside padding */
@media all and (max-width:767px) {
	.container-flexbox { padding: 7% 8% 1% 8% }
}

/* Background colors */
.container-flexbox.bg-light-gray { background-color: #f5f5f5 }
.container-flexbox.bg-green      { background-color: #5ba745 }

.container-flexbox.hero-block { background-color: #fff }

/* == CTA button == */
.container-flexbox.hero-block a {
	display: inline-block;
	text-decoration: none;
	padding: 12px 42px;
	border-style: solid;
	border-width: 4px;
	margin: 32px 0;
	border-radius: 50px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.container-flexbox.hero-block a:link,
.container-flexbox.hero-block a:visited {
	color: #5ba745;
	background-color: #fff;
	border-color: #5ba745
}

.container-flexbox.hero-block a:hover,
.container-flexbox.hero-block a:active {
	color: #fff;
	background-color: #5ba745;
	border-color: #5ba745
}



/* ============= FLEXBOX ITEM COLUMNS: 1 ITEM COLUMN EVERY SCREEN ========== */

.container-flexbox .item-1 { 
	width: 100%;
	padding: 1% 6% 0 6%;
}

/* ====== FLEXBOX ITEM COLUMNS: 2 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ====== */

/* Desktops - 2 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-2 { 
		width: 45%;
		padding: 3% 0 4% 0;
	}
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-2 {
		text-align: center; 
		width: 100%;
		padding: 10% 10% 10% 10%;
	}

	.container-flexbox .item-2:nth-child(1) { order: 2 }
	.container-flexbox .item-2:nth-child(2) { order: 1 }
}

/* ======= FLEXBOX ITEM COLUMNS: 3 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ===== */

.container-flexbox .item-3 { 
	background-color: #fff;
	box-shadow: rgba(160,160,160,0.8) 5px 5px 20px;
	border-radius: 12px 
}

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-3 { 
		width: 30%;
		text-align: left;
		padding: 3% 3% 3% 3%;
		margin-bottom: 7%
	}
	.container-flexbox .item-3.smaller-margin-bottom { 
		margin-bottom: 2%
	}
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-3 { 
		width: 100%;
		text-align: center;
		padding: 10% 10% 10% 10%;
		margin-bottom: 14%
	}
}

.container-flexbox .item-3 img { 
	margin-bottom: 20px;
	border-radius: 5px
}

.container-flexbox.happy-users .item-3 {
	text-align: center;
	margin-top: 3%;
	padding-bottom:2%
}

.container-flexbox.happy-users .item-3 img {
	margin-left: auto;
	margin-right: auto;
	width: 80%; 
	border-radius: 100%
}

/* ========== HEADINGS, PARAGRAPHS, IMAGES ======== */

/* Single column item-1 */
.container-flexbox .item-1 h2 { 
	font-weight: 900; 
	color: #5ba745;
	line-height: 1.2;
	margin-bottom: 12px;
	letter-spacing: -1px;
	text-align: center;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-1 p { 
	font-weight: 400; 
	line-height: 2;
	letter-spacing: 1px;
	text-align: center;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
	color: #000
}

.container-flexbox.bg-green .item-1 p.big-text {
	font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1600 - 320))); 
	margin-bottom:20px;
	font-weight: 500;
}

.container-flexbox.bg-green .item-1 p.big-text,
.container-flexbox.bg-green .item-1 p.big-text a {
	color: #fff;
}

.container-flexbox.bg-green .item-1 p.big-text a {
	text-decoration: none;
	color: #fff;
	border-bottom: solid 2px #fff;
	padding-bottom:3px;
}

.container-flexbox.bg-green .item-1 p.big-text a:hover,
.container-flexbox.bg-green .item-1 p.big-text a:active {
	text-decoration: none;
	color: #fff;
	border-bottom: solid 2px #5ba745;
	padding-bottom:3px;
}

@media all and (max-width:767px) { 
	.container-flexbox.bg-green .item-1 img { 
		margin-bottom: 24px
	}
}

/* Two columns item-2 */

.container-flexbox .item-2 h1 { 
	font-weight: 900; 
	color: #000;
	line-height: 1.1;
	margin-bottom: 12px;
	letter-spacing: -1px;
	margin-bottom: 20px;
	font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-2 p { 
	font-weight: 500; 
	color: gray;
	line-height: 1.3;
	font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1600 - 320))); 
}

/* Three columns item-3 */

.container-flexbox .item-3 h3 { 
	font-weight: 500; 
	color: #000;
	line-height: 1.2;
	margin-bottom: 2px;
	font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-3 p { 
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.5;
	margin-bottom: 14px;
	color: rgb(82, 95, 127);
}

.slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ----------------------------------------------
*/

.scale-up-center {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}


/* =============== BEGIN EMAIL SIGN UP FORM CSS ============= */

/* == Email sign up form container == */

/* All screens */
.container-form-email-signup  { 
	text-align: center; 
	background-color:#5ba745; 
	border: solid 1px gray
}

/* Desktop */
@media all and (min-width:1024px) { 
	.container-form-email-signup  {
		margin:  4% 23% 5% 23%;
		padding: 2% 4% 4% 4%
	}
}

/* Mobiles */
@media all and (max-width:1023px) { 
	.container-form-email-signup  { 
		margin:  6% 8% 4% 8%;
		padding: 7% 8% 8% 8%;
	}
}

/* == CONTACT FORM HEADING AND TEXT == */

/* Heading */
.container-form-email-signup h3 { 
	font-weight: bold; 
	color: #fff;
	line-height: 1.2;
	margin-bottom: 3%;
	font-size: calc(26px + (56 - 26) * ((100vw - 320px) / (1600 - 320))); 
}

/* Text */
.container-form-email-signup p { 
    font-weight: normal;
    color: #fff; 
    line-height: 1.5;
    margin-bottom: 7%;    
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
}


/* == EMAIL SIGN UP FORM FIELDS == */

#email-signup-form .flex-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktop */
@media all and (min-width:768px) { 
    #email-signup-form .flex-row { flex-direction: row }
    #email-signup-form #email-address { flex: 1; margin: 0 30px 0 30px }
}

/* Mobiles */
@media all and (max-width:767px) { 
	#email-signup-form .flex-row { flex-direction: column }
    #email-signup-form label { margin: 12px 0 0 0 }
    #email-signup-form #email-address { margin: 0 }
}

#email-signup-form label,
#email-signup-form input,
#email-signup-form #btn-submit {
	font-size: 16px;
    display: inline-block;
    border-radius: 5px;
}

#email-signup-form label { padding: 14px 0; color: #fff }

#email-signup-form label,
#email-signup-form #btn-submit { font-weight: bold }

#email-signup-form input,
#email-signup-form #btn-submit { padding: 12px 20px }

#email-signup-form ::placeholder { font-size: 96% }

#email-signup-form input {
	background-color: #f0f0f0;
	padding: 10px 12px;
	border: 2px solid gray;
}

#email-signup-form input:focus { 
	background-color: #fff; 
}

#email-signup-form #btn-submit {
	color:#fff;
    border: solid 2px #fff; 
	padding: 12px 22px;    
	background-color: #fff;
	letter-spacing: 1px;
	border-radius: 50px;
	color:#5ba745; 
}

#email-signup-form #btn-submit:hover {
	color:#fff;
	background-color:#5ba745;
	border: solid 2px #fff
}

#email-signup-form #btn-submit i {
	margin-left: 8px
}

/* Mobiles */
@media all and (max-width:767px) { 
	#email-signup-form label { padding: 0 0 14px 0  }
	#email-signup-form input { margin: 0 0 24px 0 }
	#email-signup-form #btn-submit { margin: 30px auto 0 auto; width: 70% }
}




